.card-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 3%;
    background-color: #DADADA;
    padding: 3% 0;

}